.switch {
	&.dark-active {
		label {
			background: black;
			div#star {
				left: 57px;
			}
		}
	}
	toggle_checkbox {
		display: none;
	}

	display: flex;
	justify-content: center;

	label {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		width: 89px;
		height: 35px;
		margin: 0 auto;
		background-color: #77b5fe;
		border-radius: 56px;
		transform: translateY(-50%);
		cursor: pointer;
		transition: 0.3s ease background-color;
		overflow: hidden;
	}

	input#toggle_checkbox {
		opacity: 0;
	}
	#star {
		position: absolute;
		top: 1px;
		left: 6px;
		width: 15px;
		height: 15px;
		transform: scale(1);
		border-radius: 50%;
		transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
			0.3s ease background-color;
		z-index: 1;
		i.bi {
			color: #fafd0f;
			font-size: 25px;
		}
	}

	#star-1 {
		position: relative;
	}

	#star-2 {
		position: absolute;
		transform: rotateZ(36deg);
	}

	.star {
		top: -9px;
		left: -10px;
		font-size: 54px;
		line-height: 28px;
		color: #fafd0f;
		transition: 0.3s ease color;
	}

	/* #moon:before {
		content: '';
		position: absolute;
		top: -12px;
		left: -17px;
		width: 40px;
		height: 40px;
		//background-color: #03a9f4;
		border-radius: 50%;
		transition: 0.3s ease background-color;
	}
 */
	#toggle_checkbox:checked + label {
		background-color: #000;
	}

	#toggle_checkbox:checked + label #star {
		top: 0px;
		left: 58px;
		i.bi {
			color: #fff;
			font-size: 25px;
		}
	}

	#toggle_checkbox:checked + label .star {
		color: yellow;
	}

	#toggle_checkbox:checked + label #moon {
		bottom: 8px;
	}

	#toggle_checkbox:checked + label #moon:before {
		background-color: #000;
	}
}
