@import '../../mixin.scss';
.car-container {
	margin: 10px;
	overflow: hidden;
	min-height: 185px;
	position: relative;
	&::before {
		content: '';
		width: 100%;
		position: absolute;
		display: block;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 3;
	}
	a {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&.characters {
		aspect-ratio: 211/179;
	}
	&:hover {
		.img-background {
			transform: scale(1.5) rotate(26deg);
		}
	}
	.img-background {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.5s;
	}
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@include card(10px, black, white);

	h2 {
		font-size: 28px;
		margin-bottom: 10px;
		text-align: center;
		z-index: 99;
		position: absolute;
		bottom: 10px;
		width: 100%;
		color: white;
	}
}
.gradeContainer {
	transition: 0.5s;
	.grade {
		text-align: center;
		margin-bottom: 10px;
		font-size: 23px;
		font-weight: 700;
		padding-top: 0;
		transition: 0.3s;
	}
	button {
		appearance: none;
		background: transparent;
		border: none;
		font-size: 20px;
		cursor: pointer;
		display: block;
		width: 100%;
		padding: 10px;
		font-weight: 700;
		position: relative;
		&:after {
			content: '';
			transition: 0.5s;
			width: 10px;
			height: 10px;
			border-bottom: 1px solid black;
			display: block;
			border-right: 1px solid black;
			transform: rotate(45deg);
			position: absolute;
			right: 15px;
			top: 12px;
		}
		&.active {
			&:after {
				transform: rotate(223deg);
				top: 15px;
			}
		}
	}
}
